@import url("/assets/css/header.css");

/* 로그인 메인 글씨 */
h1 {
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    color: #303481;
}

h1#Text {
    color: #FFF200;
}

/* 로그인 화면 글씨 호버 */
h1#Text:hover {
    color: #FFF200;
    transition: 0.6s;
}

/* 로그인 화면 설명 글씨 */
p {
    font-size: 25px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    color: #FFF200;
}

/* 로그인 화면 설명 글씨 호버 */
P:hover {
    color: #FFF200;
    transition: 0.6s;
}

/* 로그인 화면 설명 글씨 */
span {
    color: #303481;
    font-size: 20px;
}

/* 비밀번호 찾기 */
a {
    color: #303481;
    font-size: 25px;
    text-decoration: none;
    margin: 15px 0;
    height: fit-content;
    vertical-align: text-bottom;
}

/* 로그인 화면 버튼 */
button {
    color: #303481;
    background-color: #FFF200;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    top: 10px;
}

button#SignUpBtn {
    background: #303481;
    color: #FFF200;
}

button#SignUpBtn:hover {
    transition: 0.2s;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px #303481;
}

button#SignInBtn {
    background: #303481;
    color: #FFF200;
}

button#SignInBtn:hover {
    transition: 0.2s;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px #303481;
}

button.ghost:hover {
    box-shadow: 0px 0px 5px 1px #FFF200;
}

button.ghost#signIn {
    width: 65%;
}

/* 로그인 화면 버튼 클릭시 */
button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

/* 회원가입 화면 텍스트 입력창 */
input {
    background: #ddd;
    box-shadow: 2px 2px 2px 1px black;
    color: black;
    height: 50px;
    border-radius: 5px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 25px;
    transition: 0.2s;
}

/* 회원가입 화면 비밀번호 박스 */
input:last-child {
    margin-bottom: 10px;
}

/* 로그인 메인 화면 */
.container {
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px #303481;
    position: absolute;
    left: 31%;
    top: 12%;
    overflow: hidden;
    width: 40%;
    max-width: 100%;
    min-height: 600px;
}

/* 로그인 메인 패널 뒤쪽 화면 */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

/* 로그인 정보 화면 */
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

/* 로그인 화면 이동 효과 (버튼 클릭시 오른쪽으로) */
.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/* 회원가입 정보 화면 */
.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

/* 회원가입 화면 이동 효과 (버튼 클릭시 왼쪽으로) */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

/* 패널 좌우 변환 */
@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

/* 로그인 화면 / 회원가입 화면 / 패널 */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

/* 패널 이동 효과 */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* 로그인 화면 / 회원가입 화면 / 패널 */
.overlay {
    background: #303481;
    background: #303481;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

/* 버튼 클릭시 패널 이동 */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* 패널 */
.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

button#Main {
    width: 65%;
    margin-top: 10px;
}

/* 버튼 클릭시 버튼 위치 */
.overlay-left {
    transform: translateX(-20%);
}

/* 회원가입 화면 왼쪽 패널 중앙 정렬? */
.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

/* 버튼 클릭시 버튼 위치 */
.overlay-right {
    right: 0;
    transform: translateX(0);
}

/* 회원가입 화면 오른쪽 패널 중앙 정렬? */
.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/* 소셜미디어 box */
.social-container {
    margin: 20px 0;
}

/* 소셜미디어 */
.social-container a {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    overflow: hidden;
}

/* 소셜미디어 호버 */
.social-container a:hover {
    box-shadow: 0px 0px 10px 5px #303481;
    transition: 0.3s;
}

.social-container a:active {
    transform: scale(0.8);
}

/* 카카오톡 */
a#KakaoTalk {
    background: url("../img/kakaoTalk.png") no-repeat;
    background-size: 100%;
}

/* 구글 */
a#Google {
    background: url("../img/Google.png") no-repeat;
    background-size: 100%;
}

/* 네이버 */
a#Naver {
    background: url("../img/Naver.png") no-repeat;
    background-size: 100%;
}

/* 입력 오류 시 박스 떨림 효과 */
.vibration {
    animation: vibration 0.1s 10;
}

@keyframes vibration {
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(-1deg);
    }
}