@import url("/assets/css/header.css");

* {
  box-sizing: border-box;
}

/* 결과창 시작 -------------------------------------------------------------------------- */
/* 결과창 + 댓글게시판 */
.rank-reply-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 4.95%;
}

/* 결과창 + 댓글게시판 묶음 box*/
.rank-reply-wrapper .rank-reply-box {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

/* 결과창 묶음 box */
.rank-reply-wrapper .rank-reply-box .rank-box {
  width: 50%;
  height: 100%;
  position: relative;
}

/* 결과창 header */
.rank-reply-wrapper .rank-reply-box .rank-box .select-search-box {
  width: 100%;
  height: 9%;
  display: flex;
  justify-center: center;
  align-items: center;
  background:#303481;
  position:absolute;
  top:0;
  left:0;
}

.rank-box .select-search-box .search-box {
    width:100%;
    height:100%;
}

/* 결과창 검색창 text 입력 창 */
.rank-box .select-search-box .search-box .search-text {
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  height: 50%;
  font-size: 30px;
  padding-left: 2%;
  line-height: 2em;

  position: absolute;
  left: 30%;
  top: 25%;
}

/* 결과창 검색창 버튼 */
.search-btn {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
  border-radius:0px 20px 20px 0px;

  position: absolute;
  left: 66%;
  top: 24%;
}
/* 결과창 검색창 버튼 호버 */
.search-btn:hover {
  background: #fff200;
  /* box-shadow: 0px 0px 3px 1px #fff200; */
  transition: 0.3s;
}

/* 결과창 검색창 이미지 */
.search-btn img#Search {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 55%;
  height: 55%;

  position: absolute;
  top:20%;
  left:20%;
}

































/* 랭킹 페이지 */
.ranking-wrapper {
  width: 100%;
  height: 100%;
  padding-top:4.95%;
}

/* 랭킹 페이지 header */
.rkheader {
  background: #303481;
  color: #fff200;
  border-bottom: 4px solid #fff200;
  width: 100%;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 랭킹 페이지 header 목록 */
.rkheader-list {
  height: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
}

/* 랭킹 페이지 header 목록 text */
.rkheader-list-text {
  font-size: 28px;
  line-height: 3.2em;
}

.rkheader-list-text:hover {
  transform: scale(1.1);
}

/* 순위 */
#Ranking {
  width: 5%;
}

/* 이미지 */
#Image {
  width: 25%;
}

/* 이름 */
#Name {
  width: 10%;
}

/* 우승 비율 */
#Winning-Percentage {
  width: 30%;
}

/* 승률 */
#Winning-Rate {
  width: 30%;
}

.rkboard-ranking-wrapper {
  border-bottom: 4px solid #303481;
  width: 100%;
  height: 15%;
  background: #f5f5f5;
}

.rkboard-ranking-list-box {
  width: 100%;
  height: 100%;
  display: flex;
}

.rkboard-ranking-list {
  border-right: 1px solid #000;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.rkboard-ranking-list:first-child,
.rkboard-ranking-list:nth-child(3) {
  line-height: 3.5em;
}

.rkboard-ranking-list:first-child:hover,
.rkboard-ranking-list:nth-child(3):hover {
  border: 1px solid #fff200;
  cursor: pointer;
  color: #fff200;
  background: #303481;
  transition: 0.2s;
  opacity: 0.9;
}

.rkboard-ranking-list:last-child {
  border: none;
}

.rkboard-ranking-list img {
  background-repeat: no-repeat;
  width: 100%;
}

.rkboard-ranking-list img:hover {
  transform: scale(1.2);
  transition: 0.2s;
  opacity: 0.9;
}

.graph {
  border: 1px solid #303481;
  box-shadow: 2px 2px 2px 1px black;
  border-radius: 5px;
  width: 90%;
  height: 30%;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 5%;
}

.bar-text {
  border-radius: 5px;
  width: 20%;
  height: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.bar-text p {
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2em;
}

.bar {
  width: 0;
  height: 100%;
  background: linear-gradient(150deg, #303481, #9197ff);
  box-shadow: 2px 2px 2px 1px #303481;
  position: absolute;
  bottom: 0;
  transition: width 0.5s;
}

/* 결과창 종료 -------------------------------------------------------------------------- */
