@import url('/assets/css/header.css');

* {
    box-sizing: border-box;
}

/* 결과창 시작 -------------------------------------------------------------------------- */
/* 결과창 + 댓글게시판 */
.rank-reply-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 4.95%;
}

/* 결과창 + 댓글게시판 묶음 box*/
.rank-reply-wrapper .rank-reply-box {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

/* 결과창 묶음 box */
.rank-reply-wrapper .rank-reply-box .rank-box {
    /* background: #D6E6F2; */
    width: 50%;
    height: 100%;
    position: relative;
}

/* 결과창 header */
.rank-reply-wrapper .rank-reply-box .rank-box .select-search-box {
    width: 50%;
    height: 6.3%;
    background: #D6E6F2;
    display: flex;
    justify-center: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1;
    display: none;
}


/* 결과창 종료 -------------------------------------------------------------------------- */



/* 우승 이미지 시작 -------------------------------------------------------------------------- */
.winner-img-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.winner-img-name {
    border-bottom: 4px solid #fff200;
    width: 100%;
    height: 17.2%;
    background: #303481;
    color: #fff200;
    text-align: center;
    font-size: 65px;
    line-height: 2em;
}

.winner-img {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    height: 100%;
}

@keyframes transformY {
    0% {
        transform: translateY(0px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

/* 우승 이미지 종료 -------------------------------------------------------------------------- */



/* 댓글게시판 시작 ----------------------------------------------------------------------- */
/* 댓글게시판 box */
.reply-box {
    width: 50%;
    height: 100%;
    position: relative;
}

/* 댓글게시판 header */
.rpheader {
    background: #303481;
    position: fixed;
    width: 50%;
    height: 7%;
    z-index: 2;
}

/* 댓글게시판 header 리스트 묶음 box */
.rpheader .rpheader-list-box {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.1s;
    position: absolute;
    top: 0;
    right: 0;
}

/* 댓글게시판 header 리스트 버튼 */
.rpheader .rpheader-list-box a {
    box-shadow: 2px 2px 2px 1px black;
    border-radius: 5px;
    width: 15%;
    height: 90%;
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4em;
    color: black;
    transition: 0.1s;
}

/* 댓글게시판 header 리스트 버튼 호버 */
.rpheader .rpheader-list-box a:hover {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    background: #f5f5f5;
    transition: 0.1s;
    opacity: 0.9;
    transform: translateY(5px);
}
/* 댓글게시판 header 리스트 첫번째 버튼 (다시하기) */
.rpheader .rpheader-list-box a:first-child {
    background: rgb(255, 82, 82);
    line-height: 1.8em;
}
.rpheader .rpheader-list-box a:first-child:hover {
    opacity: 0.8;
}

/* 댓글게시판 header 리스트 두번째 버튼 (목 록) */
.rpheader .rpheader-list-box a:nth-child(2) {
    background: #fff200;
    line-height: 1.6em;
}

/* 댓글게시판 header 리스트 세번째 버튼 (랭 킹) */
.rpheader .rpheader-list-box a:nth-child(3) {
    background: #fff200;
    line-height: 1.7em;
}


/* 댓글게시판 main */
.rpboard-box {
    border-left: 1px solid #303481;
    width: 100%;
    height: 100%;
    padding-top: 5.5%;
    position: relative;
}

/* 댓글게시판 main box */
.rpboard-box .rpboard-list-box {
    /* background: #D6E6F2; */
    width: 100%;
    height: 90%;
}

/* 댓글게시판 main 리스트 */
.rpboard-box .rpboard-list-box .rpboard-list {
    width: 100%;
    height: 100%;
}

/* 댓글게시판 main header */
.rplist-header {
    border-bottom: 4px solid #fff200;
    width: 100%;
    height: 13%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    background: #303481;
    color: #fff200;
}

/* 댓글 총 갯수 */
.rplist-header .rpcount {
    /* border-right: 2px solid #000; */
    margin-top: 5px;
    width: fit-content;
    height: 60%;
    text-align: center;
}


/* 댓글 총 갯수 */
.rplist-header .rpcount p {
    width: 100%;
    height: 100%;
    font-size: 28px;
    line-height: 2em;
}

.rplist-header .rpcount p::before {
    content: "";
    display: inline-block;
    background: url("../img/Reply.png") no-repeat;
    border-radius: 50%;
    background-size: 85%;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

/* 댓글 정렬 기준 */
.rplist-header .rpsorting {
    width: 19%;
    height: 100%;
    margin-top: 9px;
    text-align: center;
    cursor: pointer;
    line-height: 2.8em;
    font-size: 29px;
    position: relative;
    display: inline-block;
}

/* 댓글 정렬 기준 호버 */
.rplist-header .rpsorting:hover {
    border-radius: 5px;
    color: red;
    transition: 0.01s;
}

/* 댓글 정렬 기준 호버 시 드롭 다운 메뉴 */
.rplist-header .rpsorting:hover+.rpsorting-wrapper,
.rpsorting-wrapper:hover {
    display: block;
    z-index: 1;
    transition: 0.2s;
}

.rplist-header .rpsorting:active {
    transition: 0.1s;
    transform: scale(0.95);
}

/* 댓글 정렬 기준::before */
.rplist-header .rpsorting::before {
    content: "";
    display: inline-block;
    background-image: url("../img/Resort.png");
    background-size: 100%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0 15px;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 */
.rpsorting-wrapper {
    border: 1px solid #000;
    background: #D6E6F2;
    width: 21%;
    height: 61px;
    position: absolute;
    top: 100%;
    left: 25%;
    display: none;
    z-index: 1;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 box */
.rpsorting-wrapper .rpsorting-list-box {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 리스트 */
.rpsorting-wrapper .rpsorting-list-box .rpsorting-list {
    height: 100%;
    font-weight: bold;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 리스트 */
.rpsorting-wrapper .rpsorting-list-box .rpsorting-list p {
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    display: block;
    color: black;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 인기 댓글 순*/
.rpsorting-wrapper .rpsorting-list-box .rpsorting-list:first-child {
    border-bottom: 2px solid white;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 리스트 클릭 호버 */
.rpsorting-wrapper .rpsorting-list-box .rpsorting-list p:hover {
    background: #303481;
    color: #fff200;
    transition: 0.3s;
}

/* 댓글 정렬 기준 드롭 다운 메뉴 리스트 클릭 */
.rpsorting-wrapper .rpsorting-list-box .rpsorting-list p:active {
    transform: scale(0.95);
    transition: 0.1s;
}

/* 댓글 게시판 전체 */
.rpboard-viewmain-box {
    width: 100%;
    height: 62.8%;
    padding-top: 2%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    background: none;
    border-bottom: 1px solid #303481;
}

.rpboard-viewmain-box::before {
    content: '';
    width:100%;
    position:absolute;
    top:0;
    left:0;
    /*opacity:0.2;
    background: black;*/
}
/* 스크롤바 숨기기 */
.rpboard-viewmain-box::-webkit-scrollbar {
    display: none;
}

/* 댓글 main */
.rpboard-viewmain-box .rpboard-viewmain {
    border-radius: 5px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

/* 사용자 댓글 박스 */
.rpboard-rpbox {
    background: #fff;
    box-shadow: 2px 2px 2px 1px black;
    border-radius: 15px;
    width: 100%;
    height: 25%;
    padding: 1%;
    font-size: 25px;
    margin-bottom: 20px;
    position: relative;
}

.rpboard-rpbox::before {
    content: '';
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 50px 0px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    pointer-events: none;
}

.rpboard-rpbox:hover {
    transform: scale(1.02);
    transition: 0.1s;
}

/* 사용자 댓글 박스 호버 */
.rpboard-rpbox:hover .rpboard-modify-replies-box {
    transform: scale(0.99);
    transition: 0.2s;
    display: block;
}

.rpboard-rpbox:hover .rpboard-delete-replies-box {
    transform: scale(0.99);
    transition: 0.2s;
    display: block;
}

/* 사용자 닉네임 + 댓글 작성 일자 box */
.rpboard-nickname-local-date-box {
    border-top: 2px solid #D6E6F2;
    border-bottom: 2px solid #f5f5f5;
    background: #D6E6F2;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 30%;
    display: flex;
    position: relative;
    line-height: 1.1em;
}

/* 사용자 닉네임 */
.rpboard-nickname {
    width: 75%;
    height: 100%;
    padding-left: 1%;
    font-size: 30px;
    line-height: 1em;
    position: relative;
    cursor: pointer;
}

.rpboard-nickname::before {
    content: "";
    display: inline-block;
    background-image: url("../img/Profile3.png");
    border-radius: 50%;
    background-size: 100%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

/* 댓글 작성 일자 */
.rpboard-nickname::after {
    content: attr(data-timestamp);
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

/* 댓글이 입력된 시간을 YYYY-MM-DD HH:MM 형식으로 표시 */
.rpboard-nickname[data-timestamp]:after {
    content: attr(data-timestamp);
}




/* 댓글창 box */
.rpboard-replies-box {
    background: #D6E6F2;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 40%;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* 댓글창 */
.rpboard-replies {
    width: 100%;
    height: 100%;
    padding: 0 1.5%;
    color: #000;
    line-height: 1.8em;
}

/* 댓글 수정 버튼 box */
.rpboard-modify-replies-box {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
}

/* 댓글 수정 버튼 */
.rpboard-modify-replies-btn {
    border: none;
    background: url('/assets/img/Modify.png') no-repeat;
    background-size: 90%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* 댓글 수정 버튼 호버 */
.rpboard-modify-replies-btn:hover {
    transform: scale(1.2);
}

/* 댓글 삭제 버튼 box */
.rpboard-delete-replies-box {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 1;
    display: none;
}

/* 댓글 삭제 버튼 */
.rpboard-delete-replies-btn {
    border: none;
    background: url('/assets/img/Delete.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* 댓글 삭제 버튼 호버 */
.rpboard-delete-replies-btn:hover {
    transform: scale(1.2);
}

.rpboard-rpbox:hover .rpboard-delete-replies-box .rpboard-rpbox .rpboard-delete-replies-text {
    display: block;
}

.rpboard-delete-check-replies-text {
    border-radius: 5px;
    width: 30%;
    height: 110px;
    position: absolute;
    top: 0;
    right: 4%;
    z-index: 1;
    display: none;
}

.rpboard-delete-check-text-box {
    border-radius: 5px 5px 0px 0px;
    background: #303481;
    border-bottom: 2px solid #fff200;
    text-align: center;
}

.rpboard-delete-check-text {
    color: #fff200;
}

span.delete-text {
    color: red;
}

.rpboard-delete-check-btn-box {
    border-radius: 0px 0px 5px 5px;
    background: #303481;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rpboard-delete-check-btn {
    background: #f5f5f5;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 70%;
    cursor: pointer;
}

.rpboard-delete-check-btn:first-child {
    background: red;
}

.rpboard-delete-check-btn:last-child {
    background: yellowgreen;
}

.rpboard-delete-check-btn p {
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 1.8em;
}

.rpboard-delete-check-btn:hover {
    border: 2px solid #fff200;
    opacity: 0.8;
}

.rpboard-delete-check-btn:active {
    transform: scale(0.95);
}


/* 댓글 좋아요 + 댓글 신고 box */
.rpboard-like-report-box {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: left;
}

/* 댓글 좋아요 */
#Like {
    width: 6%;
    height: 100%;
    padding-top: 5px;
    color: black;
    text-align: left;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
}
#Like:hover {
    transform: scale(1.2);
}

#Like a.rpboard-btn {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#Like a.rpboard-btn .like-count {
    font-weight: bold;
    color: red;
    margin-left: 7px;
}

#Like a p {
    color: blue;
}

#Like a p:hover {
    color: #303481;
    font-weight: bold;
    transform: scale(1.1);
}

#Like::before {
    content: "";
    display: inline-block;
    background: url("../img/Like.gif") no-repeat;
    background-size: 100%;
    width: 27px;
    height: 27px;
    vertical-align: bottom;
    margin-top: 2px;
}

/* 댓글 신고 */
#Report {
    width: 3%;
    text-align: center;
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 10px;
}
#Report:hover {
    animation: rotateY 1s linear infinite;
    background: tomato;
}
@keyframes rotateY {
    0% {
        transform: rotateY(0);
        background: tomato;
    } 50% {
        transform: rotateY(180deg);
        background: #fff200;
    } 100% {
        transform: rotateY(360deg);
        background: tomato;
    }
}

#Report a {
    display: inline-block;
}

#Report a p {
    color: #000;
}

#Report a p:hover {
    color: red;
    font-weight: bold;
    transform: scale(1.1);
}

#Report::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url("/assets/img/Report.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.rpboard-btn {
    background: none;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 100%;
    font-size: 24px;
    cursor: pointer;
}

.rpboard-user-nickname-reply-replyBtn-box {
    border: 4px solid #303481;
    width: 100%;
    height: 20%;
    line-height: 5em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.rpboard-user-nickname-reply-replyBtn-box::before {
    content: '';
    background: #fff;
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    opacity:0.5;
}
.rpboard-user-nickname-reply-replyBtn-box p {
    width: fit-content;
    height: 50%;
    font-size: 45px;
    display: flex;
    justify-center: center;
    align-center: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rpboard-user-nickname-reply-replyBtn-box p a{
    height: 50%;
    border-bottom: 2px solid blue;
    color: blue;
    margin: auto 10px;
    line-height: 1em;
}

.user-nickname {
    /* border-bottom: 4px solid #fff200; */
    background: #303481;
    color: #fff200;
    width: 100%;
    height: 20%;
    padding-left: 1%;
    text-align: left;
    font-size: 25px;
    line-height: 1.2em;
}

.user-nickname::before {
    content: "";
    display: inline-block;
    background-image: url("/assets/img/Reply.png");
    border-radius: 50%;
    background-size: 100%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.rpboard-input-btn-box {
    width: 100%;

    height: 100%;
    display: flex;
    position: relative;
}

.rpboard-input-box {
    width: 85%;
    height: 80%;
    background: #303481;
}

.input-box {
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding-left: 2%;
}

.rpboard-rpBtn-box {
    width: 15%;
    height: 80%;
}

.rpBtn {
    width: 100%;
    height: 100%;
}

.rpBtn p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 4em;
    cursor: pointer;
    font-weight: bold;
}

.rpBtn p:hover {
    background: #303481;
    color: #fff200;
    transition: 0.1s;
    opacity: 0.9;
}

.rpBtn p:active {
    transform: scale(0.97);
}











































/* 댓글게시판 종료 ----------------------------------------------------------------------- */