@import url('/assets/css/header.css');

body {
    background: #F5F5F5;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    position: relative;
    height: 10%;
}

#game {
    width: 100%;
    cursor: pointer;
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 100px;
    color: #fff;
    text-shadow: 2px 0 #000, 0 2px #000, -2px 0 #000, 0 -2px #000;
    height: 81%;
}

#game section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: 100%;

    /*position: fixed;*/
}

.left {
    /*background-color: orange;*/
    width: 50%;
    /*left: 0;*/

}

.right {
    /*background-color: aqua;*/
    width: 50%;
    /*right: 0;*/
    /*position: fixed;*/

}


/* 몇강인지 선택할 모달창  */

.container {
    width: 100%;
}

.modal-btn-box {
    width: 100%;
    text-align: center;
}

.modal-btn-box button {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    padding-top: 8px;
}

.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
}

.popup {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #264db5;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup-head {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-title {
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -3px;
    text-align: center;
}

.popup-body {
    width: 100%;
    background-color: #ffffff;
}

.body-content {
    width: 100%;
    padding: 30px;
}

.body-titlebox {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.body-contentbox {
    word-break: break-word;
    overflow-y: auto;
    min-height: 100px;
    max-height: 200px;
}

.popup-foot {
    width: 100%;
    height: 50px;
}

.pop-btn {
    display: inline-flex;
    width: 50%;
    height: 100%;
    float: left;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.pop-btn.confirm {
    border-right: 1px solid #3b5fbf;
}


/* 클릭시 이미지가 커지는 css */
.bigger {

    width: 100% !important;
    z-index: 10;
    transition: 1s;

}

#game-wrapper {
    height: 90%;
    overflow: hidden;

    background: #000;
}

/* 게임 타이틀 래퍼 */
#game-title-wrapper {
    font-size: 50px;
    color: white;
    background: rgba(5, 5, 5, 0.3);

    text-align: center;

    z-index: 9999;

    height: 10%;
}

/* 리셋 버튼 css */
#resetBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;

/*// cw 변경부분*/

    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    color: #F80000;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}
#resetBtn:hover {
    transition: all ease 1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

}