<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
    <!--header-->
    <header>
        <div class="header">
            <div class="header-container">
                <h1 class="logo">
                    <a href="#"><i class="far fa-hand-rock"></i></a>
                </h1>

                <!--상단 BAR-MENU-->
                <nav class="gnb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">월드컵 만들기</a></li>

                        <!-- <c:if test="${}">  -->
                        <li><a href="#">내가 만든 월드컵</a></li>
                        <!-- </c:if> -->
                       
                    </ul>
                </nav>
            </div>
        </div>
    </header>


</body>

</html>