<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pickpick.repository.LoserPlayerMapper">

    <insert id="save">
        insert into loser_players_tbl (playing_game_id, player_id)
        values (#{playingGameId}, #{loserId})
    </insert>

    <delete id="delete">
        delete from loser_players_tbl
        where player_id=#{loserId}
        and playing_game_id=#{playingGameId}
    </delete>

    <select id="findAll" resultType="Integer">
        select player_id
        from loser_players_tbl
        where playing_game_id=#{playingGameId}
    </select>
    
    <select id="count" resultType="int">
        select count(*)
        from loser_players_tbl
        where playing_game_id=#{playingGameId}
    </select>

    <select id="findLatest" resultType="int">
        select player_id
        from loser_players_tbl
        where playing_game_id=#{playingGameId}
        order by date_time desc
        limit 1
    </select>

</mapper>