<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pickpick.repository.PlayingGameMapper">

    <insert id="save" parameterType="playingGame">
        insert into playing_game_tbl (game_id, total_round, current_round, account_id)
        values (#{gameId}, #{totalRound}, #{currentRound}, #{accountId})

        <selectKey resultType="int" keyProperty="playingGameId" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>

    </insert>

    <select id="findByAccountId" resultType="playingGame">
        select *
        from playing_game_tbl
        where account_id=#{accountId}
        limit #{pageStart}, #{amount}
    </select>

    <select id="findOne" resultType="playingGame">
        select *
        from playing_game_tbl
        where playing_game_id=#{playingGameId}
    </select>

    <delete id="delete">
        delete from playing_game_tbl
        where playing_game_id=#{playingGameId}
    </delete>

    <update id="update">
        update playing_game_tbl
        set current_round=#{currentRound}
        where playing_game_id=#{playingGameId}
    </update>

    <select id="getGameId" resultType="int">
        select game_id
        from playing_game_tbl
        where playing_game_id=#{playingGameId}
    </select>
</mapper>