<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pickpick.repository.PlayingGamePlayersMapper">

    <insert id="save">
        insert into playing_game_players_tbl (playing_game_id, player_id)
        values (#{playingGameId}, #{playerId})
    </insert>

    <delete id="delete">
        delete from playing_game_players_tbl
        where player_id=#{playerId}
            and playing_game_id=#{playingGameId}
    </delete>

    <select id="findAllByGameId" resultType="playingGamePlayers">
        select *
        from playing_game_players_tbl
        where playing_game_id=#{playingGameId}
    </select>

    <select id="count" resultType="int">
        select count(*)
        from playing_game_players_tbl
        where playing_game_id=#{playingGameId}
    </select>

</mapper>