<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pickpick.repository.ReplyMapper">

    <insert id="save">
        INSERT INTO reply_tbl
            (text, writer, game_id, account_id)
        VALUES
            (#{text}, #{writer}, #{gameId}, #{accountId})
    </insert>

    <delete id="deleteOne">
        DELETE FROM reply_tbl
        WHERE reply_no = #{replyNo}
    </delete>

    <select id="findOne" resultType="reply">
        SELECT
        reply_no, text, writer, date, like_count, account_id, game_id, account_id, like_count
        FROM reply_tbl
        WHERE reply_no = #{replyNo}
    </select>

    <select id="findAll" resultType="reply">
        SELECT
        reply_no, text, writer, date, like_count, account_id, game_id, report_count
        FROM reply_tbl
        WHERE game_id = #{gId}
        ORDER BY reply_no
    </select>

    <select id="findSortAll" resultType="reply">
        SELECT
        reply_no, text, writer, date, like_count, account_id, game_id, report_count
        FROM reply_tbl
        WHERE game_id = #{gId}
        ORDER BY like_count DESC
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM reply_tbl
        WHERE game_id = #{gameId}
    </select>

    <select id="findLikeOne" resultType="int">
        SELECT count(*)
        FROM reply_like_tbl
        WHERE reply_no = #{replyNo} and account_id = #{accountId}
    </select>

    <insert id="addLikeUser">
        INSERT INTO reply_like_tbl
        (reply_no, account_id)
        VALUES (#{replyNo}, #{accountId})
    </insert>

    <update id="likeUpCounting">
        UPDATE reply_tbl
        SET like_count = like_count + 1
        WHERE reply_no = #{replyNo}
    </update>

    <select id="findReportOne" resultType="int">
        SELECT count(*)
        FROM reply_report_tbl
        WHERE reply_no = #{replyNo} and account_id = #{accountId}
    </select>

    <insert id="addReportUser">
        INSERT INTO reply_report_tbl
        (reply_no, account_id)
        VALUES (#{replyNo}, #{accountId})
    </insert>

    <update id="ReportUpCounting">
        UPDATE reply_tbl
        SET report_count = report_count + 1
        WHERE reply_no = #{replyNo}
    </update>


</mapper>