<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   자동 카멜케이스 스네이크 케이스 변환 설정     -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <!--  entity 클래스 별칭 설정      -->

        <typeAlias alias="account" type="com.pickpick.entity.Account" />

        <typeAlias alias="reply" type="com.pickpick.entity.Reply" />

        <typeAlias alias="player" type="com.pickpick.entity.Player" />

        <typeAlias alias="game" type="com.pickpick.entity.Game" />

        <typeAlias alias="playingGame" type="com.pickpick.entity.PlayingGame" />

        <typeAlias alias="playingGamePlayers" type="com.pickpick.entity.PlayingGamePlayers" />
    </typeAliases>
    <mappers>
        <!-- Mapper XML files -->
        <mapper resource="mappers/AccountMapper.xml" />

        <mapper resource="mappers/ReplyMapper.xml" />

        <mapper resource="mappers/PlayerMapper.xml" />

        <mapper resource="mappers/GameMapper.xml" />

        <mapper resource="mappers/PlayingGameMapper.xml" />

        <mapper resource="mappers/PlayingGamePlayersMapper.xml" />

        <mapper resource="mappers/WinnerPlayerMapper.xml" />

        <mapper resource="mappers/LoserPlayerMapper.xml" />

    </mappers>
</configuration>